* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.icons {
  display: inline-block;
  width: 100%;
  text-align: end;
}
.icons ul li {
  margin-left: 2%;
  display: inline-block;
}
.icons ul li i {
  color: #eead0e;
}
h2,
#header .sub_header .logo h1,
#footer .info-location,
#footer .info-hours {
  font-family: Lucida Calligraphy;
}
h1,
p {
  font-family: Times New Roman;
}
.button-click,
#footer form button {
  padding: 1% 3%;
  text-decoration: none;
  color: #fff;
  background-color: #eead0e;
  border-color: #fff;
  border-width: 2px;
  border-style: solid;
  border-radius: 10%;
}
#header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
#header .sub_header {
  background-color: #fff;
}
#header .sub_header .logo {
  position: absolute;
  text-align: center;
}
#header .sub_header .logo img {
  width: 100%;
  height: 155px;
}
#header .sub_header .logo h2,
#header .sub_header .logo h1,
#header .sub_header .logo #footer .info-location,
#footer #header .sub_header .logo .info-location,
#header .sub_header .logo #footer .info-hours,
#footer #header .sub_header .logo .info-hours {
  color: #fff;
  position: absolute;
  top: 40%;
  right: 33%;
  font-size: 0.95rem;
}
#header .sub_header .logo h1 {
  top: 10%;
  right: 30%;
  font-size: 2.75rem;
}
#header .sub_header .logo i {
  top: 14%;
  position: absolute;
  font-size: 45px;
  right: 62%;
  color: #fff;
}
#header .sub_header .contact-info li,
#header .sub_header .sub-contact-info li {
  margin: 0 2%;
  display: inline-block;
}
#header .sub_header .contact-info li i,
#header .sub_header .sub-contact-info li i {
  color: #eead0e;
}
#header .sub_header .sub-contact-info {
  display: none;
}
#header .navbar {
  background: #1c1c1c96;
  position: unset;
}
#header .navbar .sub-nav {
  width: 100%;
}
#header .navbar .sub-nav ul {
  width: 100%;
  padding: 2% 0;
}
#header .navbar .sub-nav ul li {
  margin: 0 1%;
}
#header .navbar .sub-nav ul li a:hover {
  color: #eead0e;
}
#header .navbar .sub-nav ul li a {
  text-decoration: none;
  color: #fff;
}
#header .navbar .sub-nav ul li:nth-child(7) {
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5%;
  margin: 0;
}
#header .navbar .sub-nav ul li:nth-child(7) a {
  color: #eead0e;
}
#header .navbar .sub-nav ul li:nth-child(7) a:hover {
  color: #fff;
}
#header .navbar .sub-nav .list {
  display: none;
  text-decoration: none;
  float: right;
  color: #fff;
  padding: 1% 1.5%;
  border-color: #fff;
  border-width: 1px;
  border-style: solid;
  border-radius: 5%;
}
#main-content .first-content {
  background-image: url(../Pictures/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#main-content .first-content .text-center {
  padding: 15% 0;
}
#main-content .first-content .text-center p,
#main-content .first-content .text-center h1,
#main-content .first-content .text-center h2,
#main-content .first-content .text-center #header .sub_header .logo h1,
#header .sub_header .logo #main-content .first-content .text-center h1,
#main-content .first-content .text-center #footer .info-location,
#footer #main-content .first-content .text-center .info-location,
#main-content .first-content .text-center #footer .info-hours,
#footer #main-content .first-content .text-center .info-hours {
  color: #fff;
  margin: 3% 0;
}
#main-content .first-content .text-center .button-click,
#main-content .first-content .text-center #footer form button,
#footer form #main-content .first-content .text-center button {
  background-color: initial;
}
#main-content .first-content .text-center a:hover {
  background-color: #eead0e;
  text-decoration: none;
  color: #1c1c1c;
}
#main-content .second-content {
  padding: 7% 0;
  background-image: url(../Pictures/backgound_profile.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#main-content .second-content .profile {
  margin-left: 10%;
  padding-right: 14%;
}
#main-content .second-content .profile h1 {
  font-size: 2rem;
}
#main-content .second-content .profile p {
  font-size: 85%;
}
#main-content .second-content .profile .button-click,
#main-content .second-content .profile #footer form button,
#footer form #main-content .second-content .profile button {
  background-color: #eead0e;
}
#main-content .second-content .profile a:hover {
  text-decoration: none;
  color: #1c1c1c;
}
#main-content .second-content .combine-pictures {
  margin-top: 12%;
}
#main-content .second-content .combine-pictures img {
  background-color: #fff;
  width: 100%;
  padding: 2%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-width: 1px;
  border-style: solid;
}
#main-content .second-content .combine-pictures .picture-1 {
  position: relative;
  transform: rotate(-10deg);
}
#main-content .second-content .combine-pictures .picture-2 {
  position: absolute;
  left: 12%;
  top: 2%;
}
#main-content .third-content {
  padding: 7%;
  width: 100%;
  background-image: url(../Pictures/background-reciges.png);
  background-repeat: no-repeat;
  background-size: cover;
}
#main-content .third-content img {
  width: 100%;
  position: relative;
}
#main-content .third-content .text-reciges {
  background-color: white;
  padding: 5%;
  position: absolute;
  bottom: 7%;
  margin-right: -5%;
  z-index: 999;
}
#main-content .third-content .text-reciges p {
  font-size: 85%;
}
#main-content .third-content .text-reciges h1 {
  font-size: 2rem;
}
#main-content .third-content .text-reciges a:hover {
  text-decoration: none;
  color: #1c1c1c;
}
#main-content .fourth-content {
  padding: 7% 0;
}
#main-content .fourth-content .delightful {
  text-align: center;
  margin-bottom: 7%;
}
#main-content .fourth-content .first-row,
#main-content .fourth-content .second-row {
  margin-bottom: 3%;
}
#main-content .fourth-content .first-row img,
#main-content .fourth-content .second-row img {
  width: 25%;
}
#main-content .fourth-content img:nth-child(3) {
  position: relative;
}
#main-content .fourth-content img:nth-child(5) {
  float: right;
}
#main-content .fourth-content .italian-source {
  background-color: #000000a1;
  padding: 2% 0;
  margin-top: 2%;
  text-align: center;
  position: absolute;
  right: 32.75%;
  width: 15%;
  display: inline-block;
}
#main-content .fourth-content .italian-source p {
  color: #fff;
}
#main-content .fourth-content .italian-source .button-click,
#main-content .fourth-content .italian-source #footer form button,
#footer form #main-content .fourth-content .italian-source button {
  border: none;
  padding: 2%;
}
#main-content .fourth-content .italian-source a:hover {
  text-decoration: none;
  color: #1c1c1c;
}
#footer {
  width: 100%;
  padding: 5% 0;
  background: #000 url(../Pictures/bg_footer.png) no-repeat center center;
  background-size: 100%;
  width: 100%;
  display: inline-block;
}
#footer h2,
#footer #header .sub_header .logo h1,
#header .sub_header .logo #footer h1,
#footer .info-location,
#footer .info-hours {
  text-align: center;
  color: #fff;
}
#footer .info-location,
#footer .info-hours {
  margin-top: 15%;
  margin-bottom: 28%;
}
#footer form input,
#footer form textarea {
  margin: 2% 0;
  width: 100%;
  padding: 5%;
  border: 1px solid #333333;
  border-radius: 4px;
  background-color: #333333;
  font-family: Times New Roman;
}
#footer form button {
  padding: 3% 15%;
  border-radius: 5%;
  border-color: #1c1c1c;
  font-family: Times New Roman;
}
#footer form button:hover {
  text-decoration: none;
  color: #1c1c1c;
}
#footer .icons {
  text-align: center;
}
#footer .icons li {
  margin-left: 2%;
  display: inline-block;
  font-size: x-large;
}
@media only screen and (max-width: 1200px) {
  #header .sub_header .contact-info,
  #header .sub_header .sub-contact-info {
    margin-left: 45%;
  }
  #header .sub_header .contact-info ul,
  #header .sub_header .sub-contact-info ul {
    text-align: center;
  }
  #header .sub_header .sub-contact-info {
    display: none;
  }
  #header .sub_header .logo img {
    width: auto;
  }
  #header .sub_header .logo h2,
  #header .sub_header .logo h1,
  #header .sub_header .logo #footer .info-location,
  #footer #header .sub_header .logo .info-location,
  #header .sub_header .logo #footer .info-hours,
  #footer #header .sub_header .logo .info-hours {
    right: 35%;
  }
  #header .sub_header .logo h1 {
    font-size: 2.8rem;
    right: 33%;
  }
  #header .sub_header .logo i {
    top: 16%;
  }
  #header .sub_header .icons {
    transform: translateY(43%);
  }
  #header .navbar .sub-nav ul li {
    margin: 0;
  }
  #main-content .second-content {
    background-size: cover;
  }
  #main-content .second-content .profile {
    padding-right: 9%;
  }
  #main-content .third-content .text-reciges {
    bottom: 0px;
    padding: 3%;
    margin-right: -10%;
  }
  #main-content .fourth-content .italian-source {
    right: 31.75%;
    font-size: small;
  }
}
@media only screen and (max-width: 992px) {
  #header .sub_header .contact-info,
  #header .sub_header .sub-contact-info {
    display: none;
  }
  #header .sub_header .sub-contact-info {
    display: inline-block;
    margin: 0;
  }
  #header .sub_header .sub-contact-info ul {
    text-align: unset;
    padding-top: 2%;
    padding-left: 13%;
  }
  #header .navbar .sub-nav ul {
    display: none;
  }
  #header .navbar .sub-nav .list {
    display: block;
  }
  #header .navbar .sub-nav:hover ul {
    display: inline-block;
  }
  #header .navbar .sub-nav:hover ul li:nth-child(7) {
    display: inline-block;
  }
  #main-content .first-content .text-center {
    margin-top: 15%;
  }
  #main-content .second-content {
    padding: 5% 0;
  }
  #main-content .second-content .profile {
    padding-right: 0;
  }
  #main-content .third-content .text-reciges {
    margin-right: -20%;
    bottom: -13%;
    font-size: x-small;
  }
  #main-content .third-content .text-reciges p {
    font-size: 0.7rem;
  }
  #main-content .third-content .text-reciges a {
    font-size: large;
  }
  #main-content .fourth-content .italian-source {
    right: 33.75%;
    margin-top: 0.2%;
    font-size: xx-small;
  }
  #main-content .fourth-content .italian-source a {
    font-size: medium;
  }
}
@media only screen and (max-width: 768px) {
  #header .sub_header .icons {
    display: none;
  }
  #header .sub_header .sub-contact-info {
    text-align: center;
  }
  #header .sub_header .sub-contact-info ul {
    padding-left: 0;
  }
  #main-content .second-content {
    background-repeat: round;
  }
  #main-content .third-content .text-reciges {
    margin-right: -20%;
    bottom: 15%;
    padding: 5%;
  }
  #main-content .third-content .text-reciges p {
    display: none;
  }
  #main-content .third-content .text-reciges h1 {
    font-size: 1.8rem;
  }
  #main-content .fourth-content .first-row img,
  #main-content .fourth-content .second-row img {
    width: 50%;
  }
  #main-content .fourth-content .first-row .italian-source,
  #main-content .fourth-content .second-row .italian-source {
    right: 52.5%;
    margin-top: 4.5%;
    font-size: large;
    width: 30%;
  }
}
/*# sourceMappingURL=style.css.map */
